<header class="g-header">
    <div class="g-logo1">
      <a href="{{ "/" | relative_url }}"></a>
    </div>
    <i id="menu-toggle" class="iconfont icon-menu"></i>
    <nav class="g-nav">
        <ul>
            {% for i in site.nav %}
            <li><a href="{{ i[1] }}">{{ i[0] }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <a href="http://www.reactivemanifesto.org/"> 
        <img style="border: 0; position: fixed; left: 0; top:0; z-index: 9000" src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/we-are-reactive-black-left.png"> 
    </a>
</header>
